<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<button ion-button icon-left class="log-b" block style="background-color: #3b5998; margin-top: 13px;">
  <ion-icon name="logo-facebook" ></ion-icon>
  Link from Facebook
</button>
<ion-grid>
<ion-row wrap>
<ion-col width-50>
<button ion-button icon-left class="log-c">
  <ion-icon name="ios-phone-portrait-outline"></ion-icon>
  <p style="font-size: 1.2rem">Phone Contacts</p>
</button>
</ion-col>
<ion-col width-50>
<button ion-button icon-left class="log-c">
  <ion-icon name="ios-mail-outline"></ion-icon>
  <p style="font-size: 1.2rem">Invite Friends</p>
</button>
</ion-col>
</ion-row>
</ion-grid>

<div *ngIf="data1 && data1.length > '0'">
<h3 text-center>My Contacts</h3>
<ion-grid text-center > 
<ion-row wrap >
    <ion-col width-50 *ngFor="let data2 of data1" (click)="goToSpeakerDetail(data2)"><ion-avatar class="speaker-detail">
          <img [src]="data2.userpic" alt="Speaker profile pic">
        </ion-avatar>
        {{data2.fname}}
       </ion-col>
</ion-row>
</ion-grid>
</div>
<div *ngIf="data1 && data1.length == '0'">
<h3 text-center>No Contacts</h3>
<p text-center>Import some now.</p>
</div>

</ion-content>
