<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content" style="background-color: #f4f4f4;">
  <div padding-top text-center *ngFor="let data2 of data1">
    <img (click)="updatePicture()" [src]="data2.userpic" alt="profile pic">
    <h2>{{data2.fname}} {{data2.lname}}</h2>
    <p style="font-weight: 200;font-size: smaller;">Click on any informaiton to edit</p>

    
  <div *ngIf="data2.gender == 'm'">
     <ion-card>
  <ion-card-header>
    Gender
  </ion-card-header>
  
  <ion-card-content>
    <h4>Male</h4>
  </ion-card-content>

</ion-card>
  </div>
  <div *ngIf="data2.gender == 'f'">
  <ion-card>
  <ion-card-header>
    Gender
  </ion-card-header>
  
  <ion-card-content>
    <h4>Female</h4>
  </ion-card-content>

</ion-card>
  </div>
    <ion-card>
  <ion-card-header>
    Email
  </ion-card-header>
  <ion-card-content>
    <h4 (click)="changeUsername()">{{data2.email}}</h4>
  </ion-card-content>
</ion-card>
  <ion-card>
  <ion-card-header>
    Mobile
  </ion-card-header>
  <ion-card-content>
    <h4 (click)="changeMobile(data2)">{{data2.mobile}}</h4>
  </ion-card-content>
</ion-card>

  <ion-card>
  <ion-card-header>
    Address
  </ion-card-header>
  <ion-card-content>
    <h4 (click)="changeUsername()">{{data2.address}}</h4>
  </ion-card-content>
</ion-card>

  </div>
</ion-content>
